<head>
  <title>We Work in PPC - Job board and PPC pros listing just for PPC</title>
  <meta name="description" content="We Work in PPC is a job board and community space for PPC professionals .  This site provides a complete listing of positions requiring the PPC skill set, as well as to profiles for PPC experts for hire.">
	<meta name="keywords" content="PPC,Adwords,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
